<div class="container">
        <div style="text-align: center; margin: auto; margin-top: 100px;">
            <h1> Thank you for shopping at Top Shop! </h1>
            <h3 style="text-align: center; margin: auto;"> ❤ Each purchase you make is a real benediction for us ❤ </h3>

            <a style="margin: auto; margin-top: 50px;" mat-raised-button class="btn-project" [routerLink]="['/home/one']"
                routerLinkActive="router-link-active">Go back to shopping</a>
        </div>
        
</div>