<div class="my-account sec-padding">
  <div class="container">
    <mat-card
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start start"
      class="p-0"
      *ngIf="!isLoggedIn"
    >
      <div
        class="my-account-wrap p-0"
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="start start"
      >
        <div
          class="login-wrapper pr-50"
          fxFlex="100"
          fxFlex.gt-md="50"
          fxFlex.md="50"
        >
          <div class="title">
            <h3>Login</h3>
          </div>
          <form
            fxLayout="row wrap"
            #loginform="ngForm"
            (ngSubmit)="login(loginform)"
          >
            <div
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-1"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <mat-form-field class="w-100">
                <input
                  matInput
                  placeholder="Username "
                  #username="ngModel"
                  ngModel
                  name="username"
                  required
                />
                <mat-error *ngIf="username.invalid"
                  >Please enter a valid message</mat-error
                >
              </mat-form-field>
            </div>
            <div
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-1"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <mat-form-field class="w-100">
                <input
                  type="password"
                  matInput
                  placeholder="Password "
                  #password="ngModel"
                  ngModel
                  name="password"
                  required
                />
                <mat-error *ngIf="password.invalid"
                  >Please enter a valid message</mat-error
                >
              </mat-form-field>
            </div>
            <div
              class="button-wrap"
              fxFlex="100"
              fxFlex.gt-sm="100"
              class="px-1"
              ngClass.sm="mt-1"
              ngClass.xs="mt-1"
            >
              <button
                class="btn-project"
                mat-raised-button
                color="accent"
                type="submit"
              >
                Log in
              </button>
            </div>
          </form>
        </div>
        <div
          class="register-wrapper pr-15"
          fxFlex="100"
          fxFlex.gt-md="50"
          fxFlex.md="50"
        >
          <div class="title">
            <h3>Register</h3>
          </div>
          <div class="register-body">
            <p>
              Create new account today to reap the benefits of a personalized
              shopping experience.
            </p>
            <form fxLayout="row wrap" #f="ngForm" (ngSubmit)="register(f)">
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="mt-20 pr-5"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Username (required)"
                    #username="ngModel"
                    ngModel
                    name="username"
                    required
                  />
                  <mat-error *ngIf="username.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-sm="100"
                class="px-1"
                ngClass.sm="mt-1"
                ngClass.xs="mt-1"
              >
                <mat-form-field class="w-100">
                  <input
                    type="password"
                    matInput
                    placeholder="Password "
                    #password="ngModel"
                    ngModel
                    name="password"
                    required
                  />
                  <mat-error *ngIf="password.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="email address (required)"
                    #email="ngModel"
                    ngModel
                    name="email"
                    required
                  />
                  <mat-error *ngIf="email.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="mt-20 pr-5"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="First name (required)"
                    #firstName="ngModel"
                    ngModel
                    name="firstName"
                    required
                  />
                  <mat-error *ngIf="firstName.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Last name (required)"
                    #lastName="ngModel"
                    ngModel
                    name="lastName"
                    required
                  />
                  <mat-error *ngIf="lastName.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-sm="100"
                class="mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address"
                    #addressLineOne="ngModel"
                    ngModel
                    name="addressLineOne"
                  />
                  <mat-error *ngIf="addressLineOne.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-sm="100"
                class="mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Town/city"
                    #town="ngModel"
                    ngModel
                    name="town"
                  />
                  <mat-error *ngIf="town.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="mt-20 pr-5"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="State / Country (required)"
                    #state="ngModel"
                    ngModel
                    name="state"
                    required
                  />
                  <mat-error *ngIf="state.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Postcode / zip (required)"
                    #postcode="ngModel"
                    ngModel
                    name="postcode"
                    required
                  />
                  <mat-error *ngIf="postcode.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- payment information-->
              <br />
              <div class="title">
                <h3>Payment information</h3>
              </div>

              <div
                fxFlex="100"
                fxFlex.gt-md="100"
                fxFlex.md="100"
                class="mt-20 pr-5"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Nmae on card(required)"
                    #nameOnCard="ngModel"
                    ngModel
                    name="nameOnCard"
                    required
                  />
                  <mat-error *ngIf="nameOnCard.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Security code (required)"
                    #secCode="ngModel"
                    ngModel
                    name="secCode"
                    maxlength="3"
                    minlength="3"
                    pattern="[0-9]{3}"
                    required
                  />
                  <mat-error *ngIf="secCode.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                fxFlex="100"
                fxFlex.gt-md="100"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Card Number(required)"
                    #cardNumber="ngModel"
                    ngModel
                    name="cardNumber"
                    maxlength="16"
                    minlength="16"
                    pattern="[4-5][0-9]{15}"
                    required
                  />
                  <mat-error *ngIf="cardNumber.invalid"
                    >Please enter a valid Card Number</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="mt-20 pr-5"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              >
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Exp-Date (required)"
                    #expDate="ngModel"
                    ngModel
                    name="expDate"
                    required
                  />
                  <mat-error *ngIf="expDate.invalid"
                    >Please enter a valid message</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                fxFlex="100"
                fxFlex.gt-md="50"
                fxFlex.md="50"
                class="pl-5 mt-20"
                ngClass.sm="mt-10"
                ngClass.xs="mt-10"
              ></div>

              <!-- payment Information-->

              <div
                class="button-wrap"
                fxFlex="100"
                fxFlex.gt-sm="100"
                class="px-1"
                ngClass.sm="mt-1"
                ngClass.xs="mt-1"
              >
                <button
                  class="btn-project"
                  mat-raised-button
                  color="accent"
                  type="submit"
                >
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>


    <mat-card
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start start"
      class="p-0"
      *ngIf="isLoggedIn"
    >

      <button
        class="btn-project"
        mat-raised-button
        color="accent"
      (click)="displayOrder()">
        My Orders
      </button>



      <div class="container"  *ngIf="order">
        <div class="cart-wrapper sec-padding">
          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!shoppingCartItems.length">
            <mat-chip-list>
              <mat-chip color="warn" selected="true">YOU HAVE NO ORDERS</mat-chip>
            </mat-chip-list>
          </div>

          <mat-card *ngIf="shoppingCartItems.length"  class="p-0">
            <div class="mat-table cart-table" *ngFor="let order of shoppingCartItems; let i = index ">
              <hr>
              <hr>
              <hr>
<!--              start -->

                <div fxLayout="row wrap" class="info-bar pb-0">
                  <div
                    class="card-wrap"
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-xs="50">
                    <mat-card
                      class="light-block"
                      fxLayout="row"
                      fxLayoutAlign="start center">
                      <div class="content">
                        <p>Order Id {{order
                          .orderId}}</p>
                      </div>
                    </mat-card>
                  </div>
                  <div
                    class="card-wrap"
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-xs="50">
                    <mat-card
                      class="light-block"
                      fxLayout="row"
                      fxLayoutAlign="start center">
                      <div class="content">
                        <p>created date {{order.createdDate}}</p>
                      </div>
                    </mat-card>
                  </div>
                  <div
                    class="card-wrap"
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-xs="50">
                    <mat-card
                      class="light-block"
                      fxLayout="row"
                      fxLayoutAlign="start center">
                      <div class="content">
                        <p>Status   <span class="">{{order.status}}</span></p>
                      </div>
                    </mat-card>
                  </div>
                  <div
                    class="card-wrap"
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-xs="50">
                    <mat-card
                      class="light-block"
                      fxLayout="row"
                      fxLayoutAlign="start center">
                      <div class="content">
                        <p>Total Price  {{order.amount}}</p>
                      </div>
                    </mat-card>
                  </div>
                </div>
              <!--              end-->
              <h2>Order Details</h2>

              <div class="mat-row">
                <div class="mat-header-cell">Name</div>
                <div class="mat-header-cell">Price</div>
                <div class="mat-header-cell">Quantity</div>
                <div class="mat-header-cell">Total Price</div>
              </div>
              <div *ngFor="let orderDetail of order.orderDetails ; let index = index"  class="mat-row">
<!--                <div class="mat-cell"><img [src]="item.orderDetails.pictures[0].small"></div>-->
                <div class="mat-cell"><a  class="product-name">{{orderDetail.productName}}</a></div>
                <div class="mat-cell price">{{orderDetail.unitPrice | number : '1.2-2'}}</div>
                <div class="mat-cell price"><input type="text" name="quantity"  [(ngModel)]="orderDetail.quantity" disabled class="form-control input-number"></div>
                <div class="mat-cell total">{{orderDetail.unitPrice * orderDetail.quantity | number : '1.2-2' }}</div>
              </div>
              <hr>

            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
